@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin&family=Noto+Sans+KR:wght@500&display=swap');
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  font-family: 'Cabin', 'Noto Sans KR';
  background-image: url('./image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  background-color: rgb(231, 199, 138);
  padding: 5px;
}

button {
  padding: 5px;
  margin-left: 5px;
  margin-right: 1px;
  border-style: none;
  background-color: rgb(255, 203, 107);
  border: 1px solid rgb(221, 176, 93);
  border-radius: 8px;
}

button:hover {
  background-color: rgb(252, 172, 25);
}

li {
  margin: 5px;
}

h2#clock {
  user-select: none;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Anton';
  font-size: 120pt;
  margin-bottom: 5px;
}

.user_management {
  color: white;
  display: flex;
  justify-content: center;
}

input#inputBox {
  width: 300px;
  box-shadow: 5px 3px gray;
  font-family: 'Cabin', 'Noto Sans KR';
  padding: 5px 30px;
  border-radius: 40px;
  border-style: none;
  border: 1px solid rgb(128, 128, 128);
}

#draw_user {
  color: black;
  margin-top: 3px;
  background-color: rgb(245, 222, 178);
  box-shadow: 7px 6px rgb(184, 162, 121);
  padding: 15px 50px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 20pt;
}

.todo_wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.todo_box {
  border-radius: 15px;
  padding: 30px 30px;
  background-color: wheat;
}

.content_list {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.pending_content, .finished_content {
  list-style: none;
}

#todo_inputBox {
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 2px 5px 2px rgb(184, 162, 121);
}

#logout {
  display: flex;
  justify-content: right  ;
  margin-top: 15px;
}